<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Depug Page</h2>
    
        <li>{{data}}</li>

        {% comment %} <ul>
            {% for item in data %}
            <li>{{item}} - {{item.brand}}</li>
            {% endfor %}
        </ul> {% endcomment %}
        {% comment %}
            <li>{{data}}</li>#(sum,avg)
        {% endcomment %}
</body>
</html>